@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerModalBuyEnergy{
    height: 100vh;
    width: 100vw;


    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    background:rgba(71, 31, 13, 0.8);

    @include flexbox();

    .boxModalBuyEnergy{
        height: 25em;
        max-height: 350px;
        width: 40em;
        max-width: 550px;

        position: relative;

        border-radius: 1em;
    	background-color: #64483C;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: 10px 70px;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-around;
        
       
        h3,h4,p{
            margin: 0;
            letter-spacing: 0.01em;
        }

        .btnExit{

            position: absolute;
            right: -1.9em;
            top: -1.6em;
            width: 4em;
            max-width: 60px;
        }

        
        .tittle{
            @include flexbox();
            position: relative;
            img{
                width: 16em;
            }
            h4{
                position: absolute;
                -webkit-text-stroke: 0;
                letter-spacing: normal;
            }
        }
        
        .text{
            align-self: flex-start;
            font-size: 1em;
                -webkit-text-stroke: 0;
                font-family: "Hansip";  
        }

        .boxRange{
            @include flexbox();
            width: 100%;
            justify-content: space-around;
            

            img{
                width: 2em;
            }

            .boxValue{
                @include flexbox();
                background-color: #2B1A13;
                border-radius: .5em;
                -webkit-text-stroke: 0;
                font-family: "Hansip";
                font-size: 1.2em;  
                width: 4em;
                height: 2em

            }

           
              
              
              
              input[type="range"] {
                -webkit-appearance: none;
                margin-right: 15px;
                width: 50%;
                height: .7em;
                background:#2B1A13;
                border-radius: 5px;
                background-image: linear-gradient(#8B5237, #8B5237);
                background-size: 50% 100%;
                background-repeat: no-repeat;
              }
              
              /* Input Thumb */
              input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #EEC1AE;
                cursor: ew-resize;
                box-shadow: 0 0 2px 0 #555;
                transition: background .3s ease-in-out;
              }
              
              input[type="range"]::-moz-range-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #ff4500;
                cursor: ew-resize;
                box-shadow: 0 0 2px 0 #555;
                transition: background .3s ease-in-out;
              }
              
              input[type="range"]::-ms-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #ff4500;
                cursor: ew-resize;
                box-shadow: 0 0 2px 0 #555;
                transition: background .3s ease-in-out;
              }
              
              

              
              /* Input Track */
              input[type=range]::-webkit-slider-runnable-track  {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
              }
              
              input[type=range]::-moz-range-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
              }
              
              input[type="range"]::-ms-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
              }
            
        }

        .boxCost{
            @include flexbox();
            gap: 1em; 
            img{
                width: 2em;
            }
            p{
                font-size: 1.1em;
                -webkit-text-stroke: 0;
                font-family: "Hansip";  
            }
        }

        .btnConfirm{
            @include flexbox();
            position: relative;
            img{
                width: 10em;
            }
            h5{
                position: absolute;
                -webkit-text-stroke: 0;
                letter-spacing: normal;
            }
        }
    }
    
}