@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;

    border-radius: 1.9em;
    border: .3em solid white;
    background-color: white;
    
    width: 11.2em;
    height: 18em;

    

    @include flexbox();
    flex-direction: column;
    
    .bgImg{
        height:75%;
        width: 100%;
        
        overflow: hidden;
        

        img{
            
            border-radius: 1.9em 1.9em 0 0;
            width: 100%;
            
            
        }
        
    }
    

    .boxEnter{
        position: relative;
        @include flexbox();
        height: 25%;

        .boxDetaills{
            position: absolute;
            top: -7em;
            left: 0.3em;
            @include flexbox();
            align-items: flex-start;
            flex-direction: column;
            gap: 0.2em;

            div{
                @include flexbox();
                justify-content: flex-start;
                background-color: rgba(0,0,0,0.5);
                border-radius: 0.5em;

                img{
                    width: 1.2em;
                }
                p{
                    font-family: "Hansip";
                    margin: 0 0.5em 0 0;
                    color: #FFF4D4;

                }
            }
        }

        .tittle{
            position: absolute;
            top: -1.3em;
        }

        button{
            @include flexbox();
            position: relative;

            img{
                width: 11em;
            }
            h4{
                font-family: "Hansip";                

                margin: 0;
                position: absolute;
                bottom: 0.3em;
            }
        }
    }
    

}