@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerModalAddCard{
    height: 100vh;
    width: 100vw;


    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    background:rgba(71, 31, 13, 0.8);

    @include flexbox();

    .boxModalAddCard{
        height: 27em;
        width: 37em;
       

        position: relative;

        border-radius: 1em;
    	background-color: #64483C;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: .5em 1.2em;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-around;
        
       
        h3,h4,p{
            margin: 0;
            
            text-shadow: none;
        }

        .btnExit{
            cursor: pointer;
            position: absolute;
            right: -1.1em;
            top: -1.1em;
            width: 3.5em;
        }


        
        .tittle{
            @include flexbox();
            position: relative;
            img{
                width: 12em;
            }
            h5{
                margin: 0;
                position: absolute;
                top: 0.5em;
               
                text-shadow: none;
            }
        }
        
        div{
            @include flexbox();
            flex-direction: column;
            gap: 1em;

            p{
                font-size: 1.2em;
                -webkit-text-stroke: 0;
                letter-spacing: normal;
                font-family: "Hansip";
                text-align: center;
            }
            img{
                width: 12em;
            }
        }
        

        .btnConfirm{
            @include flexbox();
            position: relative;
            img{
                width: 9em;
            }
            h5{
                position: absolute;
                top: .45em;
                text-shadow: none;
            }
        }
    }
    
}