@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: .8em;
        background-color: #080903;
        border-radius: 1em;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5em;
        background-color: #D1C87D;
        
    }
}

.containerModalAddCard{
    height: 100vh;
    width: 100vw;


    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    background:rgba(71, 31, 13, 0.8);

    @include flexbox();

    .boxModalAddCard{
        height: 22em;
        
        width: 31em;

        position: relative;

        border-radius: 1em;
    	background-color: #64483C;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: 1em 1.2em 3em 1.2em;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-evenly;
        
       
        h3,h4,h5,p{
            margin: 0;
           
        }

        .btnExit{
            cursor: pointer;
            position: absolute;
            right: -1.1em;
            top: -1.1em;
            width: 3.5em;
        }

        
        .tittle{
            @include flexbox();
            position: relative;
            img{
                width: 12em;
            }
            h5{
                margin: 0;
                text-shadow: none;
                position: absolute;
            }
        }
        
        

        
            
            P{
                font-size: 1.2em;
                font-family: "Hansip";
                text-align: center;
                text-shadow: none;
            }
            img{
                width: 7em;
            }
        
    }
    
}