@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: .8em;
        background-color: #080903;
        border-radius: 1em;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5em;
        background-color: #D1C87D;
        
    }
}

.containerModalAddCard{
    height: 100vh;
    width: 100vw;


    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    background:rgba(71, 31, 13, 0.8);

    @include flexbox();

    .boxModalAddCard{
        height: 27em;
        width: 53em;
       

        position: relative;

        border-radius: 1em;
    	background-color: #64483C;
        -webkit-text-stroke: 0;
        color: white;
        
        padding: .5em 2.2em;

        margin: 0 20px;

        @include flexbox();
        flex-direction: column;
        justify-content: space-around;
        
       
        h3,h4,h5,p{
            margin: 0;
        }

        .btnExit{

            position: absolute;
            right: -1.1em;
            top: -1.1em;
            width: 3.5em;
            
        }

        
        .tittle{
            @include flexbox();
            position: relative;
            img{
                width: 12em;
            }
            h5{
                margin: 0;
                position: absolute;
                top: 0.5em;
               
                text-shadow: none;
            }
        }
        
        .text{
            align-self: flex-start;
            font-size: 1em;
            text-shadow: none;
            font-family: "Hansip";  
        }

        .cards{
            height: 17em;
            width: 100%;
            padding: 0.4em 0;

            overflow: hidden;
            overflow-y: scroll;

            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: repeat(4, minmax(5em, 1fr ));
            gap: 1em;

            .card{
                position: relative;
                
                width: 100%;
                


                img{
                    width: 100%;
                    
                    pointer-events: none;
                }

                div{
                    @include flexbox();
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: black;
                    border-radius: .5em;
                    width: 2em;
                    max-width: 30px;
                    height: 2em;
                    max-height: 30px;
                    pointer-events: none;


                    img{
                        display: none;
                        width: 2em;
                    }
                }

                
            }
            .select{
                    div{
                        img{
                            display: block
                        }
                    }
                }
        }

        .btnConfirm{
            @include flexbox();
            position: relative;
            img{
                width: 9em;
            }
            h5{
                position: absolute;
                top: .45em;
                text-shadow: none;
            }
        }
    }
    
}