*{
  margin: 0;
  padding: 0;
  /* letter-spacing: -1px; */

  color: white;
  /* -webkit-text-stroke: .1em #422205; */
  font-family: 'Scrubland';
  text-shadow: #422205 .1em 0 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 -.1em 0,#422205 -.1em .1em 0,#422205 -.1em 2.16926px 0,#422205 -2.66798px 1.37182px 0,#422205 -.1em .1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0;
  line-height: normal;
}



 @font-face {
    font-family: "Hansip";
    src: local("Hansip"),url("./assets/fonts/Hansip.ttf");
    font-weight: bold;
  }
@font-face {
    font-family: "Scrubland";
    src: url("./assets/fonts/Scrubland.ttf");
  }

  .message {
    display: none;
  }

@media screen and (max-width: 900px) and (orientation: portrait) {
    * {
        background-color: black;
        color: white;
     }
    .App {
      display: none;
    }
  
    .message {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1em;
      height: 100vh;
      width: 100vw;

      padding: 15px;

      font-weight: 100;
      font-size: 20px;
      text-align: center;
      color: white;
      padding-top: 20px;
    }
    
    
    /* .message::after {
      Content: "Rotate your phone to view content";
    } */
    .iconMessage{
      width: 5em;
      animation: animName 5s linear infinite;
      rotate: 45deg;
    }
    @keyframes animName {
      0%{
         transform: rotate(0deg);
        }
       50%{
         transform: rotate(90deg);
        }
      
       
     100%{
         transform: rotate(0deg);
        }
     }
    

    /* .iconMessage{
      animation-name:tween-landscape;
      animation-duration:.5s;
      animation-timing-function:ease-in-out;
      animation-direction:normal;
      animation-iteration-count:1;
      animation-fill-mode:forwards
  }
  .iconMessage.slow{
      animation-duration:2.5s
  }
  .iconMessage.infinite{
      animation-iteration-count:infinite;
  }
  .iconMessage\:hover:hover{
      animation-name:tween-landscape;
      animation-duration:.5s;
      animation-timing-function:ease-in-out;
      animation-direction:normal;
      animation-iteration-count:1;
      animation-fill-mode:forwards
  }
  .iconMessage\:hover:hover.slow{
      animation-duration:2.5s
  }
  .iconMessage\:hover:hover.infinite{
      animation-iteration-count:infinite
  } */
  }




