*{
  margin: 0;
  padding: 0;
  /* letter-spacing: -1px; */

  color: white;
  /* -webkit-text-stroke: .1em #422205; */
  font-family: 'Scrubland';
  text-shadow: #422205 .1em 0 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 .1em .1em 0,#422205 -.1em 0,#422205 -.1em .1em 0,#422205 -.1em 2.16926px 0,#422205 -2.66798px 1.37182px 0,#422205 -.1em .1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 -.1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0,#422205 .1em -.1em 0;
  
}



 @font-face {
    font-family: "Hansip";
    src: local("Hansip"),url("./assets/fonts/Hansip.ttf");
    font-weight: bold;
  }
@font-face {
    font-family: "Scrubland";
    src: url("./assets/fonts/Scrubland.ttf");
  }

  .message {
    display: none;
  }

@media screen and (max-width: 900px) and (orientation: portrait) {
    * {
        background-color: black;
        color: white;
     }
    .App {
      display: none;
    }
  
    .message {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100vh;
      width: 100vw;

      padding: 15px;

      font-weight: 100;
      font-size: 20px;
      text-align: center;
      color: white;
      padding-top: 20px;
    }
    
    .message::after {
      Content: "Voltee su móvil en modo vertical para ver el contenido.";
    }
  }




