@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards{
    
    &::-webkit-scrollbar-track {
        margin: .7em;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: .4em
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5em;
        background-color: #48556073;
    }
}
.pageInventory{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),url(./assets/background.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: none;

    height: 100vh;
    width: 100vw;

    .sectionInventory{
        height: 80vh;

        @include flexbox();
        flex-direction: column;

        .boxSelects{
            width: 90%;
            height: 10vh;
            @include flexbox();
            justify-content: flex-start;
            .select{
                @include flexbox();
                position: relative;

                .btn{
                    cursor: pointer;
                    width: 12em;
                }
                h3{
                    pointer-events: none;
                    position: absolute;
                    left: 1.4em;
                    margin: 0;
                }
                .icon{
                    position: absolute;
                    pointer-events: none;
                    transition: .4s;
                    right: 1.2em;
                    width: 2.5em;
                }
                .option{
                    display: none;
                    
                    position: absolute;
                    background-color: #CA6D28;
                    border: .3em solid #561D05;
                    border-radius: .5em;
                    top: 4em;
                    z-index: 1;

                    div{
                        width: 8em;
                        cursor: pointer;
                        -webkit-text-stroke: 0;
                        font-size: 1.4em;
                        transition: .3s;
                        padding: .2em .8em;
                        
                        &:hover{
                            background-color: #8462498f;
                            color: #caa810;
                        }
                    }

                }
            }
            .activeSelectRare{

                .icon{
                    transform: rotate(180deg);
                }

                .option{
                   display: block;
                }
            }
            .activeSelectType{

                .icon{
                    transform: rotate(180deg);
                }

                .option{
                   display: block;
                }
            }
            .activeSelectBee{

                .icon{
                    transform: rotate(180deg);
                }

                .option{
                   display: block;
                }
            }
        }
        .boxCards{
            @include flexbox();
            flex-direction: column;

            height: 70vh;
            width: 100%;

            .cards{
                width: 90%;
                height: 58vh;
                background-color: blue;

                border-radius: 15px;
                border: 4px solid #ADAFAE;
                background-color: rgba(173,177,173, .7);


                display: grid;
                grid-auto-rows: auto;
                grid-template-columns: repeat(auto-fill, minmax(10em, 1fr ));
                gap: .4em 1em;
                
                padding: .3em;
                

                overflow: hidden;
                overflow-y: scroll;

                img{
                    width: 10.5em;
                }
            }
            .page{
                width: 80%;
                height: 12vh;

                @include flexbox();

                button{
                    
                    font-family: "Hansip";
                    -webkit-text-stroke: 0;
                    width: 2em;
                    height: 2em;
                    
                    background-color: #D8A201;
                }
                .btns{
                    background-color: blue;
                    .btn{
                        background-color: #D8A201;
                        border-left: 0.2em solid black;
                    }
                }
                .arrow{
                    width: 2em;
                    background-color: #B92921;
                }
                #next-button{
                    border-left: 0.2em solid black;
                    border-radius: 0 .8em .8em 0;
                    
                }
                #prev-button{
                    border-radius: .8em 0 0 0.8em ;
                    
                }
            }
        }
    }
}