.drBeep{
    position: absolute;
    left: 0rem;
    bottom: 1em;
    padding-left: 4em;
    color: white;
    
    height: auto;



    .boxUser {
        
        position: relative;
        width: 13em; 
        height: 6em; 
        border-radius: .7em;
        background: rgba(#000000, 0.6);
        transform: skew(10deg);


        display: flex;
        align-items: center;
        justify-content: center;

        .boxImg{
            position: absolute;
            top: -1em;
            left: -3em;
            transform: skew(-10deg);

            display: flex;
            align-items: center;
            justify-content: center;

            .imgUser{
                
                width: 7em;
            }

            .boxEnergy{
                cursor: pointer;

                position: absolute;
                top: 5.3em;

                width: 6em;
                height: 1.5em;
                background-color: #380f00;
                border-radius: 2em;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    position: absolute;
                    width: 1.5em;
                    left: .3em;
                    
                }

                p{
                    position: absolute;
                   margin: 0;
                   right: .9em;
                }
            }
        }

        
        .boxLetters{
            transform: skew(-10deg);
            position: absolute;
            left: 4em;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            height: 100%;

            p{
                font-size: 1.2em;
                margin: 0;
            }
            
            .nameUser{
                font-family: "Hansip";
                font-size: 1.7em;
            }

            .boxMoney{
                position: relative;

                border-radius: 2em;

                display: flex;
                align-items: center;

                width: 6em;
                height: 2em;
                background-color: #380f00;

                img{
                    position: absolute;
                    top: -.8em;
                    left: -1em;
                    width: 3em;
                }
                .money{
                    position: absolute;
                    top: .2em;

                    font-family: "Hansip";
                    -webkit-text-stroke: #E5CF8D;
                    color: #E5CF8D;
                    margin-left: 1.62em;
                }

                
            }
        }
   }
}